[flake8]
exclude =
    .git,
    __pycache__,
    build,
    dist,
    .venv,
    venv,
    .mypy_cache,
    .pytest_cache

[flake8:local-plugins]
extension =
    PC25 = plugin:PyConPlugin
paths = ./01_linter